.head {
    width:  100%;
    background: #800080;
}

.kraya {
    margin: 0px;
}

.aheadvz {
    color: #F5F5F5;
    text-decoration: none; /*убираем подчеркивание из ссылки*/
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
}

.aheadreg {
    color: #F5F5F5;
    text-decoration: none;
    font-size: 20px;
    /* font-style: italic; курсив*/
    float: right;
    padding-right: 20px;
}

.center {
    background: #663399;
    width: 100%;
    height: 100%;
}

.form ul {
    width:100px;
    list-style-type:none; /*убрали точки*/
    float: right;
    margin-right: 350px;
    margin-top: 100px;
}

.form li{
    padding:12px;
    position:relative;
}

.form input {
    height:20px;
    width:220px;
    padding:5px 8px;
}

.form button {

}

.footer {
    width:  100%;
    position: absolute;
    bottom: 0;
    background: #800080;
    color: #F5F5F5;
    font-size: 12px;
    text-align: right;
}