<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <title>VZnakomstve</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body class="kraya">
<header class="head">
    <a class="aheadvz" href="main" title="Главная страница">VZnakomstve</a>
    <a class="aheadreg" href="reg" title="Регистрация">Registration</a>
</header>

<section class="center">
    <form class="form" action="" method="post">
        <img src="images/1.jpg" width="700px" ; height="600px" ; />
        <ul>
            <li>
                <label><h1>Регистрация</h1></label>
            </li>
            <li>
                <input type="text" name="name" placeholder="Введите Имя" />
            </li>
            <li>
                <input type="text" name="surname" placeholder="Введите Фамилию" />
            </li>
            <li>
                <button class="submit" type="submit">Готово</button>
            </li>
        </ul>
    </form>
</section>

<footer class="footer">
    Copyright ©2020, VZ Inc.
</footer>
</body>
</html>